<div class="container">
  <hr>
  <div id="<%= dom_id quiz %>">
    <p>
      <%= quiz.content %>
    </p>

    <div data-controller="quiz">
      <% quiz.quiz_questions.each do |quiz_question| %>
      <div class="d-grid gap-2">
        <button data-quiz-target="button" data-action="click->quiz#check" data-quiz-quiz-question-correct-answer-param="<%= quiz_question.correct_answer %>" data type="button" class="quiz-button "><%= quiz_question.content %> - <%= quiz_question.correct_answer %></button>
      </div>
      <% end %>


      <span data-quiz-target="output">
      </span>
    </div>



  </div>
</div>
