<div class="container">
  <div id="<%= dom_id quiz %>">
    <p class="text-center">
      <%= raw quiz.content %>
    </p>

    <% if policy(quiz).update? %>
      <%= link_to t("helpers.submit.update", model: Quiz.model_name.human), edit_quiz_path(quiz) %>
      <br />
    <% end %>

    <% if policy(QuizQuestion.new).create? %>
      <% if quiz.point_system.present? %>
          <%= link_to "PointSystem bearbeiten", edit_point_system_path(quiz.point_system) %>
      <% else %>
        <%= render "point_systems/form", point_system: PointSystem.new(pointsystemable_id: quiz.id, pointsystemable_type: quiz.class.name) %>
      <% end %>
    <% end %>

    <% if policy(QuizQuestion.new).create? %>
      <div>
        <p>
          <%= link_to "New quiz question", new_quiz_question_path(quiz_id: quiz) %>
        </p>

        <p>
          <%= link_to "Back to course", course_path(quiz.slide.course, slide_id: quiz.slide) %>
        </p>
      </div>
    <% end %>

    <div data-controller="quiz"
        data-quiz-account-id-value="<%= @account.id %>"
        data-quiz-my-points-value="<%= quiz.point_system.total_possible_points unless quiz.point_system.blank? %>"
        data-quiz-exercise-id-value="<%= quiz.id %>"
        data-quiz-exercise-class-value="<%= quiz.class.name %>"
        data-quiz-total-possible-points-value="<%= quiz.point_system.total_possible_points unless quiz.point_system.blank? %>"
        data-quiz-points-deduction-for-mistake-value="<%= quiz.point_system.points_deduction_for_mistake unless quiz.point_system.blank? %>"

        >
      <div data-quiz-target="accountId" data-value="<%= @account.id %>" >
      </div>
      <div data-quiz-target="exerciseId" data-value="<%= quiz.id %>" >
      </div>
      <div data-quiz-target="exerciseClass" data-value="<%= quiz.class.name %>" >
      </div>
      <div data-quiz-target="totalPossiblePoints" data-value="<%= quiz.point_system.total_possible_points unless quiz.point_system.blank? %>" >
      </div>
      <div data-quiz-target="pointsDeductionForMistake" data-value="<%= quiz.point_system.points_deduction_for_mistake unless quiz.point_system.blank? %>" >
      </div>
      <% quiz.quiz_questions.order("RANDOM()").each do |quiz_question| %>
      <div class="d-grid gap-2">
        <button data-quiz-target="button" data-action="click->quiz#check" data-quiz-quiz-question-correct-answer-param="<%= quiz_question.correct_answer %>" data type="button" class="quiz-button "><%= quiz_question.content %></button>
      </div>
        <% if policy(quiz_question).update? %>
          <p>
            <%= link_to t("helpers.submit.update", model: QuizQuestion.model_name.human), edit_quiz_question_path(quiz_question) %>
          </p>
        <% end %>
      <% end %>


      <span data-quiz-target="output">
      </span>


    </div>

  </div>
</div>
