<% content_for :head do %>
  <%= stylesheet_link_tag "application-test", "data-turbo-track": "reload" %>
  <%= javascript_import_module_tag "bootstrap" %>
<% end %>

<%= render "layouts/navigation" %>


<div class="container">
  <%= render "layouts/flash_messages" %>

      <h1 class="text-center my-3"><%= @page_title %></h1>
      <p class="text-center my-3">
        Finde es heraus in diesem interaktiven Lernkurs!
      </p>
      <%= render "courses/courses_by_group", courses: Course.where(group: "ethik").order(:sort) %>
      <% if false %>
        <h2 class="text-center my-3">Klima-Gerechtigkeit</h2>
        <%= render "courses/courses_by_group", courses: Course.where(group: "klimagerechtigkeit").order(:sort) %>
      <% end %>

      <% if false %>
        <hr>
        <%= render "courses/courses_by_group", courses: Course.all %>
      <% end %>
</div>


<%= render "layouts/footer" %>
