<%= render "layouts/navigation" %>

<div class="container">

      <h2 class="text-center my-3">Ethik-Kurse</h2>
      <%= render "courses/courses_by_group", courses: Course.where(group: "ethik") %>
      <hr>
      <%= render "courses/courses_by_group", courses: Course.all %>

</div>


<%= render "layouts/footer" %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
