<%= render "layouts/navigation" %>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

      <h2 class="text-center my-3">Ethik-Kurse</h2>
      <%= render "courses/courses_by_group", courses: Course.where(group: "ethik") %>
      <h2 class="text-center my-3">Klima-Gerechtigkeit</h2>
      <%= render "courses/courses_by_group", courses: Course.where(group: "klimagerechtigkeit") %>
      <hr>
      <%= render "courses/courses_by_group", courses: Course.all %>

</div>


<%= render "layouts/footer" %>
