<%= render "layouts/navigation" %>


<div class="container">
  <div class="alert alert-warning my-3" role="alert">
    <strong>Hinweis: </strong>Der Lernkurs befindet sich noch in der Beta-Phase. Die Kurse sind noch nicht fertig gestellt.
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

      <h2 class="text-center my-3">Ethik-Kurse</h2>
      <%= render "courses/courses_by_group", courses: Course.where(group: "ethik") %>
      <h2 class="text-center my-3">Klima-Gerechtigkeit</h2>
      <%= render "courses/courses_by_group", courses: Course.where(group: "klimagerechtigkeit") %>

      <% if false %>
        <hr>
        <%= render "courses/courses_by_group", courses: Course.all %>
      <% end %>
</div>


<%= render "layouts/footer" %>
