<%= render "layouts/navigation" %>

<div class="container">
  <%= render "layouts/flash_messages" %>

      <h1 class="text-center my-3"><%= @page_title %></h1>
      <p class="text-center my-3">
        Finde es heraus in diesem interaktiven Lernkurs!
      </p>
      <%= render "courses/courses_by_group", courses: @ethic_courses %>
      <hr>
      <h2 class="text-center my-3">Klimagerechtigkeit (im Aufbau)</h2>
      <%= render "courses/courses_by_group", courses: @climate_justice_courses %>

</div>

<%= render "layouts/footer" %>
