<div class="container">
<div id="<%= dom_id checkbox_exercise %>">
  <p class="text-center">
    <%= checkbox_exercise.content %>
  </p>

</div>

<% if true  # policy(QuizQuestion.new).create? %>
  <div>
    <p>
      <%= link_to "New check box", new_checkbox_path(checkbox_exercise_id: checkbox_exercise) %>
    </p>

    <p>
      <%#= link_to "Back to course", course_path(quiz.slide.course, slide_id: quiz.slide) %>
    </p>
  </div>
<% end %>

<fieldset>
    <legend>
      <%= checkbox_exercise.content %>
    </legend>

    <% checkbox_exercise.checkboxes.each do |checkbox| %>
    <div>
      <input type="checkbox" id="<%= checkbox.id %>" value="<%= checkbox.id %>" name="<%= checkbox.content %>">
      <label for="scales"><%= checkbox.content %></label>
    </div>
    <% end %>

</fieldset>
</div>
