<div class="container text-center">
<div id="<%= dom_id checkbox_exercise %>">

  <div data-controller="checkbox-exercise">
    <div data-checkbox-exercise-target="accountId" data-value="<%= @account.id %>" >
    </div>
    <div data-checkbox-exercise-target="exerciseId" data-value="<%= checkbox_exercise.id %>" >
    </div>
    <div data-checkbox-exercise-target="exerciseClass" data-value="<%= checkbox_exercise.class.name %>" >
    </div>
    <div data-checkbox-exercise-target="totalPossiblePoints" data-value="<%= checkbox_exercise.point_system.total_possible_points unless checkbox_exercise.point_system.blank? %>" >
    </div>
    <div data-checkbox-exercise-target="pointsDeductionForMistake" data-value="<%= checkbox_exercise.point_system.points_deduction_for_mistake unless checkbox_exercise.point_system.blank? %>" >
    </div>
    <div data-checkbox-exercise-target="checkboxClass" data-value="<%= "#{dom_id(checkbox_exercise)}-checkboxes" %>" >
    </div>
    <div data-checkbox-exercise-target="solution" data-value="<%= checkbox_exercise.checkboxes.where(correct_answer: "yes").pluck(:id).join(",") %>" >
    </div>

    <fieldset>
        <legend>
          <%= checkbox_exercise.content %>
        </legend>

        <% checkbox_exercise.checkboxes.each do |checkbox| %>
        <div>
          <input type="checkbox" class="<%= "#{dom_id(checkbox_exercise)}-checkboxes" %>" id="<%= "#{dom_id(checkbox_exercise)}-checkboxes-checkbox-#{checkbox.id}" %>" value="<%= checkbox.id %>" name="<%= checkbox.content %>">
          <label for="scales"><%= checkbox.content %></label>
        </div>
        <% end %>

    </fieldset>


    <div class="d-grid gap-2">
      <button data-checkbox-exercise-target="button" data-action="click->checkbox-exercise#check" data type="button" class="checkbox-exercise">Antwort prüfen</button>
    </div>



    <span data-checkbox-exercise-target="output">
    </span>
  </div>


</div>

<% if policy(Checkbox.new).create? %>
  <div>
    <p>
      <%= link_to "New check box", new_checkbox_path(checkbox_exercise_id: checkbox_exercise) %>
    </p>

    <p>
      <%#= link_to "Back to course", course_path(quiz.slide.course, slide_id: quiz.slide) %>
    </p>
  </div>
<% end %>

<% if policy(Checkbox.new).create? %>
  <% if checkbox_exercise.point_system.present? %>
      <%= link_to "PointSystem bearbeiten", edit_point_system_path(checkbox_exercise.point_system) %>
  <% else %>
    <%= render "point_systems/form", point_system: PointSystem.new(pointsystemable_id: checkbox_exercise.id, pointsystemable_type: checkbox_exercise.class.name) %>
  <% end %>
<% end %>


</div>
