<%= form_with(model: checkbox_exercise) do |form| %>
  <% if checkbox_exercise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(checkbox_exercise.errors.count, "error") %> prohibited this checkbox_exercise from being saved:</h2>

      <ul>
        <% checkbox_exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <%= form.select :slide_id, Slide.all.map {|slide| [slide.content, slide.id]}, {include_blank: true}, {class: "form-select"}  %>


  <div>
    <%= form.submit %>
  </div>
<% end %>
