<div class="container slide slide_id_<%= slide.id %>" data-value="<%= slide.id %>" data-complete_course="<%= slide.course_complete %>" data-disable_drag="<%= slide.exercise.present? && slide.exercise.model_name.singular == "sorting_exercise" ? "yes":"no" %>" >
  <div class="row">
    <div class="col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6">

<%= raw slide.content %>

<% if slide.exercise %>
    <%= render "#{slide.exercise.model_name.collection}/#{slide.exercise.model_name.element}", {"#{slide.exercise.model_name.element}": slide.exercise } %>
<% end %>
<%#= render "quizzes/quiz", quiz: slide.quizzes.first unless slide.quizzes.empty?  %>


<% if slide.save_progress == "true" %>
  <%= render "accounts/save_progress" %>
<% end %>

<% if slide.course_complete == "true" %>
  <%= render "courses/course_complete", slide: slide %>
<% end %>

<% if slide.course.group == "klimagerechtigkeit" %>
<%#= slide.comments.count %>
<hr>
<p>
  <strong>
    Kommentare:
  </strong>
  </p>
  <div id="comments_of_slide_id_<%= slide.id %>">
    <%= render partial: "comments/comment", collection: slide.comments, as: :comment %>
  </div>

  <%= render "comments/form", comment: Comment.new(commentable_id: slide.id, commentable_type: Slide.to_s) %>
<% end %>

<% if policy(slide).update? %>
  <hr />
  <div>

    <div class="d-grid gap-2">
      <%= link_to t("helpers.submit.update", model: Slide.model_name.human), edit_slide_path(slide), class: "btn btn-primary" %>
      <%#= link_to "Back to slides", slides_path, class: "btn btn-primary" %>
      <%= link_to t("back_to_course"), course_path(slide.course, slide_id: slide), class: "btn btn-primary" %>
      <%= button_to "Destroy this slide", slide, method: :delete, class: "btn btn-danger" %>
    </div>

    <hr />

    <% if slide.exercise.nil? %>
      <div class="d-grid gap-2">
        <%= link_to t("models.add", model: Quiz.model_name.human), new_quiz_path(slide_id: slide), class: "btn btn-primary" %>
        <%= link_to t("models.add", model: CheckboxExercise.model_name.human), new_checkbox_exercise_path(slide_id: slide), class: "btn btn-primary" %>
        <%= link_to t("models.add", model: OpenQuestion.model_name.human), new_open_question_path(slide_id: slide), class: "btn btn-primary" %>
        <%= link_to t("models.add", model: Cloze.model_name.human), new_cloze_path(slide_id: slide), class: "btn btn-primary" %>
        <%= link_to t("models.add", model: CostBenefitAnalysis.model_name.human), new_cost_benefit_analysis_path(slide_id: slide), class: "btn btn-primary" %>
        <%= link_to t("models.add", model: SortingExercise.model_name.human), new_sorting_exercise_path(slide_id: slide), class: "btn btn-primary" %>
      </div>
      <% end %>
  </div>
<% end %>
    </div>
  </div>
</div>
