
<%= simple_form_for(comment, id: "#{dom_id(comment)}_form") do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content, label: "Kommentar" %>
    <div class="invisible">
      <%= f.input :commentable_id, as: :hidden %>
      <%= f.input :commentable_type, as: :hidden %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Kommentar erstellen", class: "btn btn-primary mt-2" %>
  </div>
<% end %>
