<div id="<%= dom_id cloze %>">
  <p>
    <%= cloze.content %>
  </p>
  <p>
    <%= raw cloze.text_with_input_fields %>
  </p>

  <p>
    <%= cloze.correct_answer %>
  </p>

  <p>
    <strong>Slide:</strong>
    <%= cloze.slide_id %>
  </p>

</div>
