<div id="<%= dom_id cloze %>" class="container">
  <p>
    <%= raw cloze.content %>
  </p>

  <div data-controller="cloze"
  data-cloze-account-id-value="<%= @account.id %>"
  data-cloze-my-points-value="<%= cloze.point_system.total_possible_points unless cloze.point_system.blank? %>"
  data-cloze-exercise-id-value="<%= cloze.id %>"
  data-cloze-exercise-class-value="<%= cloze.class.name %>"
  data-cloze-total-possible-points-value="<%= cloze.point_system.total_possible_points unless cloze.point_system.blank? %>"
  data-cloze-points-deduction-for-mistake-value="<%= cloze.point_system.points_deduction_for_mistake unless cloze.point_system.blank? %>"
  data-cloze-solution-value="<%= cloze.correct_answer.split("\n") %>"
  data-cloze-input-class-value=".<%= "input-cloze-#{cloze.id}" %>"

  >


    <p>
      <%= raw cloze.text_with_input_fields %>
    </p>

    <p>
      <button data-action="click->cloze#check" class="action-button-green-color">
        <%= t('check-answer') %>
      </button>
    </p>

    <span data-cloze-target="output">
    </span>
  </div>


</div>
