<div id="<%= dom_id open_question %>" class="container">

  <div data-controller="open-question"
  data-open-question-account-id-value="<%= @account.id %>"
  data-open-question-my-points-value="<%= open_question.point_system.total_possible_points unless open_question.point_system.blank? %>"
  data-open-question-exercise-id-value="<%= open_question.id %>"
  data-open-question-exercise-class-value="<%= open_question.class.name %>"
  data-open-question-total-possible-points-value="<%= open_question.point_system.total_possible_points unless open_question.point_system.blank? %>"
  data-open-question-points-deduction-for-mistake-value="<%= open_question.point_system.points_deduction_for_mistake unless open_question.point_system.blank? %>"
  data-open-question-solution-value="<%= open_question.correct_answer.downcase.delete(' ').split("\n") %>"

  >


    <p>
      <%= raw open_question.content %>
    </p>
    <div class="text-center my-3">
      <input data-open-question-target="input" class="form-control form-control-lg" type="text" placeholder="Antwort eingeben" aria-label=".form-control-lg">
    </div>

    <p>
      <button data-action="click->open-question#check" class="action-button-green-color">
        <%= t("check-answer") %>
      </button>
    </p>

    <span data-open-question-target="output">
    </span>
  </div>

</div>
