<%= render "layouts/navigation" %>
<div class="container">

  <% if false %>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<hr>
<% end %>
<% if true %>
  <h1 class="my-3">Login</h1>
  <%= form_for(resource, as: resource_name, url: send_magic_link_to_user_path(resource_name), method: :get, data: { turbo: false }) do |form| %>

    <p>
      <strong><%= form.label :email %></strong>
    </p>
    <div class="input-group mb-4">
      <%= form.text_field :email, class: "form-control", placeholder: "max.muster@email.com" %>
    </div>

    <%= form.submit t("receive_magic_link"), class: "btn btn-primary mb-3" %>
  <% end %>
  <hr>
  <p>
    <%= t("no_account_yet") %>
    <br>
    <%= link_to t('signup'), new_user_registration_path, class: "action-button-green-color"  %>
  </p>
<% end %>

<%#= render "devise/shared/links" %>
  </div>
  <%= render "layouts/footer" %>
