<% course_status = @account.course_status(course.id.to_s) %>

<div class="card h-100 <%= "bg-lightgreen-color" if course_status == "completed" %>">
  <% if course.image.attached? %>
    <%= image_tag course.image, class: "card-img-top", width: 300, height: 250, style: "object-fit: cover"  %>
  <% end %>
  <div class="card-body">
    <h4 class="card-title"><%= course.name %></h4>
    <hr>
    <% if course_status == "completed" %>
      <p class="text-center">
        <strong>Kurs abgeschlossen!</strong>
        <br>
        <%= l(@account.course_completion_date(course.id)) %>
        <br>
        <%= @account.course_points(course.id) %> von <%= @account.total_possible_course_points(course.id) %> Punkten gesammelt.
      </p>
      <div class="text-center">
        <% if @account.check_if_medal_is_awarded(course.id) %>
          <hr />
          <%= render "courses/medal_congratulation", course: course %>
        <% end %>
      </div>
    <% else %>
    <p class="card-text">
      <%= course.description %>
    </p>
    <% end %>
    <!--
    <hr>
    <p class="card-text">
      <strong>Dauer: </strong>20 Minuten
    </p>
    -->
  </div>
  <div class="card-footer border-top text-center">

    <%# if @account.courses.key?(course.id.to_s) %>
    <% if course_status == "started" %>

    <% current_slide_id = @account.courses[course.id.to_s]["history"][-1] %>
    <% current_sort_of_slide = Slide.find(current_slide_id).sort %>

      <p>
        <strong>Dein Fortschritt:</strong>
      </p>

      <%= render "courses/progress", current_slide_id: current_slide_id, course: course %>
      <%= link_to "Weitermachen!", course_with_sort_path(course, current_sort_of_slide), class: "action-button-i-color mt-4" %>

    <% elsif course_status == "completed" %>
      <%= link_to "Erneut anfangen", course_with_sort_path(course, 0), class: "action-button-green-color" %>
    <% else %>
      <%= link_to "Loslegen!", course_path(course), class: "action-button-green-color" %>
    <% end %>

    <% if policy(course).update? %>
      <hr>
      <%= link_to t("helpers.submit.update", model: Course.model_name.human), edit_course_path(course), class: "btn btn-primary" %>
      <br>
      <br>
      <%= link_to t("course_overview"), course_overview_course_path(course), class: "btn btn-primary" %>

    <% end %>


  </div>
</div>
