<% content_for :head do %>
  <%= javascript_import_module_tag "sortablejs" %>
<% end %>

<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <h2>Slides</h2>
  <%= course.slides.count %>

  <div data-controller="sortable">

    <div data-sortable-target="slides">

      <% course.slides.order(:sort).each do |slide| %>
        <div data-id="<%= slide.id %>">
          <%= slide.sort %> - <%= raw slide.content %>
        </div>
      <% end %>
    </div>



    <button data-action="click->sortable#updateOrder">
      Save
    </button>

  </div>



</div>
