<% content_for :head do %>
  <%= stylesheet_link_tag "course", "data-turbo-track": "reload" %>
  <%#= javascript_import_module_tag "course_controller" %>
  <%#= javascript_import_module_tag "course_controllers" %>

<% end %>

<% unless slide.blank? %>

<div
  data-controller="course points"
  data-action="correct-answer@window->points#updateCounter"
  >
  <div data-course-target="slideId" data-slides-target="slideId" data-navigation-target="slideId" data-value="<%= slide.id %>" >
  </div>
<%= render "layouts/course_navigation" %>

  <div class="container">

    <div class="row">

      <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div data-course-target="slide" class="mt-3">
          <%= render "slides/slide", slide: slide  %>
        </div>
        <hr>
      </div>

    </div>

  </div>

  <div class="exercise">
    <div data-course-target="exercise">
      <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <%= render "quizzes/quiz", quiz: slide.quizzes.first unless slide.quizzes.empty?  %>
      </div>
    </div>
  </div>

  <div class="navigation">
    <div data-course-target="navigationButtons">
      <%= render "slides/navigation_buttons", slide: slide  %>
    </div>
  </div>


</div>
<% end %>

<div class="container">
  <% if policy(Slide.new(course_id: course.id)).create? %>
    <%= link_to "Create Slide", new_slide_path(course_id: course.id) %>
    <br>
    <%= link_to "Course Overview", course_overview_course_path(course) %>
  <% end %>
</div>
