<% content_for :head do %>
  <%= javascript_import_module_tag "sortablejs" %>
<% end %>


  <div
  data-controller="course"
  >
<%= render "layouts/course_navigation" %>

  <div class="container">

  <div data-course-target="slide">

  </div>

  <hr>

  <div data-course-target="navigationButtons">

  </div>

  <div data-course-target="progress" class="text-center">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= (course.slides.order(:sort).first.sort + 1).to_f / course.slides.count * 100 %>%" aria-valuenow="<%= (course.slides.order(:sort).first.sort + 1).to_f / course.slides.count * 100 %>" aria-valuemin="0" aria-valuemax="<%= course.slides.count %>"></div>
    </div>

    Seite <%= course.slides.order(:sort).first.sort + 1 %> von <%= course.slides.count %>
  </div>

    <div data-course-target="slideId" data-slides-target="slideId" data-navigation-target="slideId" data-value="<%= course.slides.order(:sort).first.id %>" >
    </div>

  </div>

</div>


<hr>
<div class="container">
<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <h2>Slides</h2>
  <%= course.slides.count %>

  <div data-controller="sortable">

    <div data-sortable-target="slides">

      <% course.slides.order(:sort).each do |slide| %>
      <div data-id="<%= slide.id %>" class="border rounded p-1 my-2">
        <div data-id="<%= slide.id %>">
          <%= raw slide.content %>
        </div>
      </div>
      <% end %>
    </div>



    <button data-action="click->sortable#updateOrder" class="btn btn-primary">
      updateOrder
    </button>

  </div>



</div>
</div>
