<% content_for :head do %>
  <%= stylesheet_link_tag "course", "data-turbo-track": "reload" %>
<% end %>

<% first_slide = course.slides.order(:sort).first %>

<% unless first_slide.blank? %>

<div
  data-controller="course"
  >
  <div data-course-target="slideId" data-slides-target="slideId" data-navigation-target="slideId" data-value="<%= first_slide.id %>" >
  </div>
<%= render "layouts/course_navigation" %>

  <div class="container">

    <div class="row">

      <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div data-course-target="slide" class="mt-3">
          <%= render "slides/slide", slide: course.slides.order(:sort).first %>
        </div>
        <hr>
      </div>

    </div>

  </div>

  <div class="navigation">
    <div data-course-target="navigationButtons">
      <%= render "slides/navigation_buttons", slide: course.slides.order(:sort).first %>
    </div>
  </div>


</div>
<% end %>

<% if true %>

<div class="container">
<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <h2>Slides</h2>
  <%= course.slides.count %>

  <div data-controller="sortable">

    <div data-sortable-target="slides">

      <% course.slides.order(:sort).each do |slide| %>
      <div data-id="<%= slide.id %>" class="border rounded p-1 my-2">
        <div data-id="<%= slide.id %>">
          <%= link_to edit_slide_path(slide) do %>
            <%= raw slide.content %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>



    <button data-action="click->sortable#updateOrder" class="btn btn-primary">
      updateOrder
    </button>

  </div>



</div>
</div>

<div class="container">
<hr />
<%= render "slides/form", slide: Slide.new(course_id: course.id) %>
</div>
<% end %>
