<% content_for :head do %>
  <%= javascript_import_module_tag "sortablejs" %>
<% end %>


  <div
  data-controller="course"
  >
<%= render "layouts/course_navigation" %>

  <div class="container">

  <div data-course-target="slide">

  </div>

  <hr>

  <div data-course-target="navigationButtons">

  </div>


    <br>

    previousSlideId:
    <div data-course-target="previousSlideId">
      1
    </div>

    NextSlideId:
    <div data-course-target="nextSlideId">
      2
    </div>

    SlideId:
    <div data-course-target="slideId" data-slides-target="slideId" data-navigation-target="slideId" data-value="<%= course.slides.first.id %>" >
      <%= course.slides.first.id %>
    </div>

  </div>

</div>


<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <h2>Slides</h2>
  <%= course.slides.count %>

  <div data-controller="sortable">

    <div data-sortable-target="slides">

      <% course.slides.order(:sort).each do |slide| %>
        <div data-id="<%= slide.id %>">
          <%= raw slide.content %>
        </div>
      <% end %>
    </div>



    <button data-action="click->sortable#updateOrder">
      updateOrder
    </button>

  </div>



</div>
