<% content_for :head do %>
  <%= stylesheet_link_tag "course", "data-turbo-track": "reload" %>
  <!-- Keen Slider css -->
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/keen-slider@6.7.0/keen-slider.min.css", "data-turbo-track": "reload" %>
<% end %>

<div data-controller="course-with-swipe dispatch points celebration medal"
  data-action="
  finish_exercise@window->dispatch#finish_exercise
  correct-answer@window->points#updateCounter
  celebrate@window->celebration#celebrate"
  data-course-with-swipe-account-id-value="<%= @account.id %>"
  data-course-with-swipe-course-id-value="<%= course.id %>"
  data-course-with-swipe-slide-id-value="<%= slide.id %>"
  data-course-with-swipe-slide-sort-value="<%= slide.sort %>"
  data-course-with-swipe-url-without-sort-value="<%= Rails.application.routes.url_helpers.course_path(course.slug) %>"
  data-medal-account-id-value="<%= @account.id %>"
  data-medal-course-id-value="<%= course.id %>"

  >
  <%= render "layouts/course_navigation", course: course %>

  <div
    data-course-with-swipe-target="courseId"
    data-medal-target="courseId"
   data-value="<%= course.id %>" >
  </div>

  <div data-course-with-swipe-target="slideSort" data-value="<%= slide.sort %>" >
    <%#= slide.sort %>
  </div>

  <div data-points-target="courseId" data-value="<%= course.id %>" >
  </div>

  <div
  data-course-with-swipe-target="accountId"
  data-medal-target="accountId"
  data-points-target="accountId"
  data-value="<%= @account.id %>" >
  </div>

  <div data-course-with-swipe-target="slideId" data-slides-target="slideId" data-navigation-target="slideId" data-value="<%= slide.id %>" >
  </div>

  <div data-course-with-swipe-target="loader" class="loader">
    <div class="text-center">
      <p>
        Der Kurs wird geladen - einen Moment bitte
      </p>
      <br />
    </div>

    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <div data-course-with-swipe-target="testicus" style="display: none;">
    yolo ipsum




  <div data-course-with-swipe-target="keenSlider" id="my-keen-slider" class="keen-slider mt-4">
    <% course.slides.order(:sort).each_with_index do |slide, index| %>
    <div class="keen-slider__slide number-slide<%= slide.id %>">
      <%= render "slides/slide_with_exercise", slide: slide %>
    </div>
    <% end %>

  </div>
  </div>
  <hr>
  <div data-hello-target="output">
  </div>

  <div class="my-2 text-center">
    <button  data-course-with-swipe-target="prev_button" data-action="click->course-with-swipe#prev" class="<%= "disabled" if slide.previous_slide_id < 0 %> action-button-green-color">
      Zurück
    </button>

    <%#= slide_sort %>
    <%#= slide.inspect %>
    <span data-course-with-swipe-target="currentSlide">
      <%= slide.sort + 1 %>
    </span>
    /
    <span data-course-with-swipe-target="total_slides_count">
      <%= course.slides.count %>
    </span>
    <%#= total_slides_count %>
    <%#= slide.next_slide_id %>
    <button data-course-with-swipe-target="next_button" data-action="click->course-with-swipe#next" class="<%= "disabled" if slide.next_slide_id < 0 %> action-button-green-color">
      Weiter
    </button>
     |
     <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary bi bi-list" data-bs-toggle="modal" data-bs-target="#settingsModal">
  </button>

  <!-- Modal -->
  <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="settingsModalLabel">Menü</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "accounts/save_progress" %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  </div>

<%= render "courses/celebration_modal" %>

<% if policy(Slide.new(course_id: course.id)).create? %>
  <div class="container">
    <div class="d-grid gap-2">
      <%= link_to t("helpers.submit.create", model: Slide.model_name.human), new_slide_path(course_id: course.id), class: "btn btn-primary" %>
      <%= link_to t("course_overview"), course_overview_course_path(course), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

</div>
