<%= simple_form_for course do |f| %>
  <%= f.input :name %>
  <%= f.input :slug %>
  <%= f.input :sort %>
  <%= f.input :public, collection: Course.public_options.map {|option| [option, option]}, selected: course.public %>
  <%= f.input :group, collection: Course.options.map {|option| [option, option]}, selected: course.group %>
  <%= f.input :description, input_html: { rows: 5 } %>
  <p>
    <%= f.input :image %>
  </p>
  <p>
    <%= f.input :medal_image %>
  </p>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
