<%= render "layouts/navigation" %>

<% course = @course %>

<div class="container">
<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <h2>Slides</h2>
  <%= course.slides.count %>

  <div data-controller="sortable">

    <div data-sortable-target="slides">

      <% course.slides.order(:sort).each do |slide| %>
      <div data-id="<%= slide.id %>" class="border p-1 my-0">
        <div data-id="<%= slide.id %>">
          <div class="row">
            <div class="col-1 border-end text-center">
              <i class="bi bi-chevron-expand"></i>
            </div>
            <div class="col-11">
              <%= link_to edit_slide_path(slide) do %>
                <%= ActionView::Base.full_sanitizer.sanitize(slide.content).truncate(100) %>
              <% end %>
            </div>
          </div>


        </div>
      </div>
      <% end %>
    </div>



    <button data-action="click->sortable#updateOrder" class="btn btn-primary">
      <%= t("update_order") %>
    </button>

  </div>



</div>
</div>

<div class="container">
<hr />
<%= render "slides/form", slide: Slide.new(course_id: course.id) %>
</div>
