<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%#= render course %>
    <p>
      <strong><%= course.name %></strong>
    </p>
    <p>
      <%= course.description %>
    </p>
    <p>
      <%= link_to "Edit course", edit_course_path(course) %>

      <br />
      <%= link_to "Show this course", course, slide: course.slides.first %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New course", new_course_path %>
</div>
