<!DOCTYPE html>
<html class="h-100" lang="<%= I18n.locale %>">
  <head>
    <%= display_meta_tags site: t('application_name'), reverse: true %>
    <title>Lernkurs2022</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application-test", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <%= yield(:head) %>

    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9EGCFZ6YGB"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9EGCFZ6YGB');
      </script>
    <% end %>


  </head>

  <body class="d-flex flex-column h-100">
    <%= yield %>
  </body>
</html>
