<div id="<%= dom_id account %>">
  <h1>User: <%= account.user_id %></h1>

  <p>
    <strong>First name:</strong>
    <%= account.first_name %>
  </p>

  <% account.courses.each do |course_array| %>
    <% course = Course.find(course_array[0].to_i) %>
    <h2><%= course.name %></h2>

    <%= render "courses/progress", current_slide_id: account.courses[course.id.to_s]["history"][-1], course: course %>

    <h3>Exercises</h3>

    <% if account.exercises[course.id.to_s]%>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Übung</th>
          <th scope="col">Punkte gesammelt</th>
          <th scope="col">Antwort</th>
        </tr>
      </thead>
      <tbody>
        <% account.exercises[course.id.to_s]["exercises"].each do |exercise_row| %>
          <% exercise = exercise_row["class"].safe_constantize.find(exercise_row["id"].to_i) %>
          <tr>
            <td><%= strip_tags(exercise.content) %></td>
            <td><%= exercise_row["points_scored"] %> von <%= exercise.point_system.total_possible_points %></td>
            <td>
              <%= exercise_row["answer"] %>
            </td>
          </tr>

        <% end %>
        <tr>
          <td>Total</td>
          <td><%= account.course_points(course.id) %> von <%= account.total_possible_course_points(course.id) %></td>
        </tr>
      </tbody>
    </table>


    <% end %>

    <hr>
  <% end %>

</div>
