<%= render "layouts/navigation" %>

<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Accounts</h1>

<div id="accounts">
  <% @accounts.order(created_at: :desc).each do |account| %>
    <%#= render account %>
    <p>
      <%= link_to "#{account.id}", account %> - <%= l(account.created_at) %> - <%= account.visited_courses_count %> - <%= account.all_points %> - <%= account.first_name %>
    </p>
  <% end %>
</div>

<%= link_to "New account", new_account_path %>
</div>
<%= render "layouts/footer" %>
